
.all div{
	display: inline-block;
}

#one{
	
	width: 100px;
	background-color: green;
	text-align: center;
}
#two{
	
	width: 100px;
	background-color: red;
	text-align: center;
}
#three{
	
	width: 100px;
	background-color: blue;
	text-align: center;
}
#four{

	width: 100px;
	background-color: green;
	text-align: center;
}