
/*.fas{
	width:50px;
	height: 50px;
	font-size: 40px;
	text-align: center;
	transform: rotate(270deg);
}
.skew-nav{
	margin-right: 100px;
	height:500px;
	width: 500px;
	padding: 20px 30px;
	margin: 200px;
	transform: rotate(30deg);
}
.skew-nav ul{
	padding: 4px 10px;
	list-style: none;
	background: darkgray;
	display: inline-block;
	transform: skew(-25deg);
	
}
.skew-nav ul li{ 
	float: left;
	background: white;
	box-shadow: 6px 10px 6px gray;
	
 }
 .sk{
 	margin: 3px;
 }
.sk:hover{
 	transform: skew(10deg);
 	margin:10px;
 }
*/
/* task7*/
.text{
	text-align: center;
	margin-top: 100px;
}
.progress{
width: 700px;
height: 40px;
}
.progress-in{
	width: 700px;
	height: 40px;
	background-color: blue;
	animation-name: mo;
	animation-duration: 5s;
}
@keyframes mo{
	from{width: 0px;}
	to{width: 700px;}

	
	
	